.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

table {
  border-collapse: separate;
  width: 100%;

  text-align: left;
  vertical-align: middle;

  border-spacing: 0 1em;
  table-layout: fixed;
}

tbody tr {
  background-color: var(--dark);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

td:first-child {
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

td:last-child {
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}

td {
  padding: 0.5em;
}

@media (max-width: 768px) {
  table {
    text-align: left;
  }
}
